# Leçon SQL 11: Requêtes avec des agrégats (Pt. 2)

Nos requêtes deviennent assez complexes, mais nous avons presque introduit toutes les parties importantes d'une requête SELECT. Une chose que vous avez peut-être remarqué est que si la clause GROUP BY est exécutée après la clause WHERE (qui filtre les lignes à grouper), comment filtrer exactement les lignes groupées?

Heureusement, SQL nous permet de le faire en ajoutant une clause **HAVING** supplémentaire qui est utilisée spécifiquement avec la clause **GROUP BY** pour nous permettre de filtrer les lignes groupées de l'ensemble de résultats.

Sélectionnez la requête avec la contrainte HAVING
``` mysql 
SELECT group_by_column, AGG_FUNC(column_expression) AS aggregate_result_alias, …
FROM mytable
WHERE condition
GROUP BY column
HAVING group_condition;
```

Les contraintes de la clause **HAVING** sont écrites de la même manière que les contraintes de la clause **WHERE** et sont appliquées aux lignes groupées. 

Avec nos exemples, cela peut ne pas sembler être une construction particulièrement utile, mais si vous imaginez des données avec des millions de lignes avec des propriétés différentes, il est souvent nécessaire de pouvoir appliquer des contraintes supplémentaires pour donner rapidement un sens aux données.

**Le saviez-vous?** Si vous n'utilisez pas la clause `GROUP BY`, une simple clause` WHERE` suffira.

## Exercice

Pour cet exercice, vous allez approfondir les données des **employes** du studio de cinéma. Pensez aux différentes clauses que vous souhaitez appliquer pour chaque tâche.

In [1]:
import pandas as pd

def to_df(s):
    l= [elt.split(';') for elt in s.replace("	", ";").split('\n')]
    return pd.DataFrame(l[1:], columns=l[0])

In [14]:
from pandasql import sqldf

In [28]:
x="""Role	Name	Building	Years_employed
Engineer	Becky A.	1e	4
Engineer	Dan B.	1e	2
Engineer	Sharon F.	1e	6
Engineer	Dan M.	1e	4
Engineer	Malcom S.	1e	1
Artist	Tylar S.	2w	2
Artist	Sherman D.	2w	8
Artist	Jakob J.	2w	6
Artist	Lillia A.	2w	7
Artist	Brandon J.	2w	7
Manager	Scott K.	1e	9
Manager	Shirlee M.	1e	3
Manager	Daria O.	2w	6"""

In [29]:
employes = to_df(x) #employees

        Role        Name Building Years_employed
0   Engineer    Becky A.       1e              4
1   Engineer      Dan B.       1e              2
2   Engineer   Sharon F.       1e              6
3   Engineer      Dan M.       1e              4
4   Engineer   Malcom S.       1e              1
5     Artist    Tylar S.       2w              2
6     Artist  Sherman D.       2w              8
7     Artist    Jakob J.       2w              6
8     Artist   Lillia A.       2w              7
9     Artist  Brandon J.       2w              7
10   Manager    Scott K.       1e              9
11   Manager  Shirlee M.       1e              3
12   Manager    Daria O.       2w              6

1. Trouvez le nombre d'artistes dans l'atelier (sans clause HAVING )

In [16]:
QUERY1 = ""

In [17]:
sqldf(QUERY1)

    Id                Title        Director  Year Length_minutes
0    1            Toy Story   John Lasseter  1995             81
1    2         A Bug's Life   John Lasseter  1998             95
2    3          Toy Story 2   John Lasseter  1999             93
3    4       Monsters, Inc.     Pete Docter  2001             92
4    5         Finding Nemo  Andrew Stanton  2003            107
5    6      The Incredibles       Brad Bird  2004            116
6    7                 Cars   John Lasseter  2006            117
7    8          Ratatouille       Brad Bird  2007            115
8    9               WALL-E  Andrew Stanton  2008            104
9   10                   Up     Pete Docter  2009            101
10  11          Toy Story 3     Lee Unkrich  2010            103
11  12               Cars 2   John Lasseter  2011            120
12  13                Brave  Brenda Chapman  2012            102
13  14  Monsters University     Dan Scanlon  2013            110

2. Trouvez le nombre d'employés de chaque rôle dans le studio

In [16]:
QUERY2 = ""

In [17]:
sqldf(QUERY2)

    Id                Title        Director  Year Length_minutes
0    1            Toy Story   John Lasseter  1995             81
1    2         A Bug's Life   John Lasseter  1998             95
2    3          Toy Story 2   John Lasseter  1999             93
3    4       Monsters, Inc.     Pete Docter  2001             92
4    5         Finding Nemo  Andrew Stanton  2003            107
5    6      The Incredibles       Brad Bird  2004            116
6    7                 Cars   John Lasseter  2006            117
7    8          Ratatouille       Brad Bird  2007            115
8    9               WALL-E  Andrew Stanton  2008            104
9   10                   Up     Pete Docter  2009            101
10  11          Toy Story 3     Lee Unkrich  2010            103
11  12               Cars 2   John Lasseter  2011            120
12  13                Brave  Brenda Chapman  2012            102
13  14  Monsters University     Dan Scanlon  2013            110

3. Trouvez le nombre total d'années d'emploi de tous les ingénieurs

In [16]:
QUERY3 = ""

In [17]:
sqldf(QUERY3)

    Id                Title        Director  Year Length_minutes
0    1            Toy Story   John Lasseter  1995             81
1    2         A Bug's Life   John Lasseter  1998             95
2    3          Toy Story 2   John Lasseter  1999             93
3    4       Monsters, Inc.     Pete Docter  2001             92
4    5         Finding Nemo  Andrew Stanton  2003            107
5    6      The Incredibles       Brad Bird  2004            116
6    7                 Cars   John Lasseter  2006            117
7    8          Ratatouille       Brad Bird  2007            115
8    9               WALL-E  Andrew Stanton  2008            104
9   10                   Up     Pete Docter  2009            101
10  11          Toy Story 3     Lee Unkrich  2010            103
11  12               Cars 2   John Lasseter  2011            120
12  13                Brave  Brenda Chapman  2012            102
13  14  Monsters University     Dan Scanlon  2013            110